.wrap {
    width: 100%;
    min-height: max-content;
    background-color: #8ec5fc;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.container {
    padding: 100px 0;
    min-height: 500px;
}
